#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: red;
  text-decoration: none;
}  

.center {
  text-align: center;
}
.ichnos h1 {
  float: left;
  font-size: 1.5em;
  text-align: center;
  color: red;
  font-weight: bold;
}

.ichnos h2 {
  float: right;
  font-size: 1.3em;
  text-align: center;
  color: black;
  font-weight: bold;
}