<footer class="footer")>   
  	<small><strong><b>©copyright 2020 myrecipes.com <span>::</span> email: info@myrecipes.com <span>::</span> Phone Chef: 0339745878</b></small>
  	<nav>
  		<ul>
  			<li><%= link_to 'about', "#" %></li>
  		</ul>
  	</nav>
</footer>